<h1 class="text-center pt-5 pb-3">Welcome to Movie Tracker</h1>
<p class="text-center">The  Movie List app allows you to track your movie collection, you are able to add a new movie and store details such as director and genre. Before you can get started you must either create an account or login.</p> 

<div class="row">
<div class="col text-center">
<a class="btn btn-danger" href="/signup" role="button">Signup</a>
<a class="btn btn-primary" href="/login" role="button">Login</a>
</div>